// ==UserScript==
// @name          Recolor Lichess Arrows and Circles
// @namespace     http://userstyles.org
// @description	  Allows user to change the color of drawn arrows and circles on lichess.org.  Click on "Customize Settings" before installing to pick the colors you want.
// @author        disloyalworm
// @homepage      https://userstyles.org/styles/158119
// @include       http://lichess.org/*
// @include       https://lichess.org/*
// @include       http://*.lichess.org/*
// @include       https://*.lichess.org/*
// @run-at        document-start
// @version       0.20180406065600
// ==/UserScript==

/* 
To modify the colors of the arrows/circles, change the hex color
codes on each of the code blocks.

Change only the hex code before the word "!important". The other
codes are related to the default colors, don't change them.
*/

(function() {var css = [
	"/* red circles & arrows --> right button */",
	"",
	"line[stroke=\"#15781B\"]",
	"{",
	"    stroke: #882020 !important",
	"}",
	"",
	"circle[stroke=\"#15781B\"]",
	"{",
	"    stroke: #882020 !important",
	"",
	"}",
	"",
	"path[fill=\"#15781B\"]",
	"{",
	"    fill: #882020 !important",
	"}",
	"",
	"/* blue circles & arrows --> Ctrl + right button (OR Shift + Right button if != Firefox) */",
	"line[stroke=\"#882020\"]",
	"{",
    "    stroke: #006496 !important",
	"}",
	"",
	"circle[stroke=\"#882020\"]",
	"{",
	"    stroke: #006496 !important",
	"}",
	"",
	"path[fill=\"#882020\"]",
	"{",
	"    fill: #006496 !important",
	"}",
	"", 
	"/* blue circles & arrows --> Alt(r or l) + rigt button (also used in by on engine recommendations) */",
	"line[stroke=\"#003088\"]",
	"{",
	"    stroke: #006496 !important",
	"}",
	"",
	"circle[stroke=\"#003088\"]",
	"{",
	"    stroke: #006496 !important",
	"}",
	"",
	"path[fill=\"#003088\"]",
	"{",
	"    fill: #006496 !important",
	"}",
	"",
	"/* gray circles & arrows -->  ctrl+alt+right click (OR Shift + Alt + right button if != Firefox) */",
	"line[stroke=\"#e68f00\"]",
	"{",
	"    stroke: #646464 !important",
	"}",
	"",
	"circle[stroke=\"#e68f00\"]",
	"{",
	"    stroke: #646464 !important",
	"}",
	"",
	"path[fill=\"#e68f00\"]",
	"{",
	"    fill: #646464 !important",
	"}"
].join("\n");
if (typeof GM_addStyle != "undefined") {
	GM_addStyle(css);
} else if (typeof PRO_addStyle != "undefined") {
	PRO_addStyle(css);
} else if (typeof addStyle != "undefined") {
	addStyle(css);
} else {
	var node = document.createElement("style");
	node.type = "text/css";
	node.appendChild(document.createTextNode(css));
	var heads = document.getElementsByTagName("head");
	if (heads.length > 0) {
		heads[0].appendChild(node);
	} else {
		// no head yet, stick it whereever
		document.documentElement.appendChild(node);
	}
}
})();
