/* hide top tabs (use tree style tab instead) */
#tabbrowser-tabs { 
    visibility: collapse !important; 
}

/* hide sidebar header of tree style tab */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}
